In [115]:
import pandas_datareader.data as web
import pandas
import matplotlib
import pandas as pd
import numpy as np
import datetime as dt

https://www.statista.com/statistics/268750/global-gross-domestic-product-gdp/
Fecha de publicaci√≥n 4 de enero de 2022 en statista (en billones de US dollars=1.000.000.000)

In [116]:
global_gdp_dic={'Years': [2016, 2017, 2018, 2019, 2020, 2021, 2022],
            'Values': [75153.75, 80823.16, 85883.45, 87390.79, 84971.65, 94935.11, 102404.01]}

In [117]:
global_gdp = pd.DataFrame(global_gdp_dic)
global_gdp

   Years     Values
0   2016   75153.75
1   2017   80823.16
2   2018   85883.45
3   2019   87390.79
4   2020   84971.65
5   2021   94935.11
6   2022  102404.01

https://www.statista.com/statistics/270267/united-states-share-of-global-gross-domestic-product-gdp/
Fecha de publicacion 23 Noviembre 2021 en statista (en porcentaje sobre el global_dgp)

In [118]:
share_gdp_ppp_dic={'Year': [2016, 2017, 2018, 2019, 2020, 2021, 2022],
                'Share': [0.1617, 0.16, 0.1591, 0.1584, 0.1583, 0.1586, 0.1591]}

In [119]:
share_gdp_ppp = pd.DataFrame(share_gdp_ppp_dic)
share_gdp_ppp

   Year   Share
0  2016  0.1617
1  2017  0.1600
2  2018  0.1591
3  2019  0.1584
4  2020  0.1583
5  2021  0.1586
6  2022  0.1591

In [120]:
gdp_ppp=pd.concat([global_gdp, share_gdp_ppp], axis=1)
gdp_ppp

   Years     Values  Year   Share
0   2016   75153.75  2016  0.1617
1   2017   80823.16  2017  0.1600
2   2018   85883.45  2018  0.1591
3   2019   87390.79  2019  0.1584
4   2020   84971.65  2020  0.1583
5   2021   94935.11  2021  0.1586
6   2022  102404.01  2022  0.1591

In [121]:
del(gdp_ppp['Year'])

In [122]:
gdp_ppp

   Years     Values   Share
0   2016   75153.75  0.1617
1   2017   80823.16  0.1600
2   2018   85883.45  0.1591
3   2019   87390.79  0.1584
4   2020   84971.65  0.1583
5   2021   94935.11  0.1586
6   2022  102404.01  0.1591

In [123]:
gdp_ppp.set_index('Years', inplace=True)

In [124]:
gdp_ppp['GDP_PPP']= np.multiply(gdp_ppp['Values'], gdp_ppp['Share'])

In [125]:
gdp_ppp

          Values   Share       GDP_PPP
Years
2016    75153.75  0.1617  12152.361375
2017    80823.16  0.1600  12931.705600
2018    85883.45  0.1591  13664.056895
2019    87390.79  0.1584  13842.701136
2020    84971.65  0.1583  13451.012195
2021    94935.11  0.1586  15056.708446
2022   102404.01  0.1591  16292.477991

In [126]:
gdp_ppp['Percentage Change']=gdp_ppp['GDP_PPP'].pct_change().multiply(100)

In [127]:
gdp_ppp

          Values   Share       GDP_PPP  Percentage Change
Years
2016    75153.75  0.1617  12152.361375                NaN
2017    80823.16  0.1600  12931.705600           6.413109
2018    85883.45  0.1591  13664.056895           5.663223
2019    87390.79  0.1584  13842.701136           1.307403
2020    84971.65  0.1583  13451.012195          -2.829570
2021    94935.11  0.1586  15056.708446          11.937364
2022   102404.01  0.1591  16292.477991           8.207435

In [128]:
gdp_ppp['Accumulated Percentage Change']=gdp_ppp['Percentage Change'].pct_change().multiply(100)

In [129]:
gdp_ppp = gdp_ppp.round(4)

In [130]:
gdp_ppp

,Values,Share,GDP_PPP,Percentage Change,Accumulated Percentage Change
Years,,,,,
2016,75153.75,0.1617,12152.3614,NaN,NaN
2017,80823.16,0.1600,12931.7056,6.4131,NaN
2018,85883.45,0.1591,13664.0569,5.6632,-11.6930
2019,87390.79,0.1584,13842.7011,1.3074,-76.9142
2020,84971.65,0.1583,13451.0122,-2.8296,-316.4268
2021,94935.11,0.1586,15056.7084,11.9374,-521.8791
2022,102404.01,0.1591,16292.4780,8.2074,-31.2458